/*Css file*/ 
html,body{
    padding:0;
    margin: 0 auto;
    
}

 .vid source{
    position:sticky;
  
   list-style-position:inside;
     background-clip: content-box;
     background:cover; 
     width:100%;
}
.vid{
  background:cover; 
 
  width:100%;
}
#nav nav a{
    background-color: beige;
    opacity: inherit;
    text-decoration: none;
    list-style-position: outside;

}
#nav{
    background: fill;
    display:inline;
    background-color: aqua;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    text-align: center;
    top: 30px;
}
#nav a{
    padding: 10px 10px;
    background-color: aqua;
    color:blue;
}
#nav a:hover{
    background-color: aqua;
    color: blue;
}

