/*Css file*/ 
html,body{
    padding:0;
    margin: 0 auto;
    
}

 .vid source{
   position:absolute;
   list-style-position:inside;
     background-clip: content-box;
     background:cover; 
     width:100%;
}
.vid{
  background:cover; 
  width:100%;
}
#nav nav a{
  overflow:auto;
    background-color: ;
    opacity: inherit;
    text-decoration: none;
    list-style-position: outside;
}


#nav li{
  transition-property:transform;
    vertical-align:left 25px;
    transform: skewX(20deg);
    background: cover;
    list-style-type: none;
    list-style-position: outside none none;
    list-style-type:none;
    text-align: left ;
    margin:30px auto;
    overflow:absolute;
}
#nav a{
    padding: 10px 10px;
    background-color: aqua;
    color:beige;
    transform: skewX(-10deg);
  }
#nav a:hover{
    background-color:white ;
    color: black;
}

#trapezeum{
float:right;
position:absolute;
padding-left:60px;
border-top: 550px solid red;
  border-left: 120px solid transparent;
  height: 100px;
  opacity:.6;
  width: 60px;
   vertical-align:20px;
}